*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    position: relative;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
}
.round{
    position: absolute;
    width: 100%;
    height: 100%;
    /* top:0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.round::after{
    content:"";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid skyblue;
    border-top-color: royalblue;
    border-left-color: yellow;
    border-bottom: transparent;
    animation: spin 1.5s linear infinite;
}
.round:nth-child(2)::after{
    border-right-color: cyan;
    height: 80%;
    width: 80%;
    animation-duration: 1.05s;
}
.round:nth-child(3)::after{
    border-top-color: greenyellow;
    border-right-color: gold;
    /* border-color: red; */
    height: 60%;
    width: 60%;
    animation-duration: 1s;
    
}

@keyframes spin {
    from{
        /* transition: rotate(0deg); */
        transform: rotate(0deg);
    }
    to{
        /* transition: rotate(360deg); */
        transform: rotate(360deg);
    }
}